* {
    font-size: 80%;
  }
  
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    display: flex;
    flex-direction: row;
  }
  
  img {
    max-width: 100%;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, 
      #008e97,
      #177c92,
      #2a6986,
      #365776,
      #3a4663,
      #38364d,
      #312838,
      #261c25,
      #181115,
      #000000
    );
    outline: aqua;
    outline-style: double;
    width: 100%;
    padding: 1%;
  }
  
  h1,
  h4 {
    font-size: 8vh;
    color: aqua;
  }
  
  h2 {
    border-radius: 10%;
    padding-left: 5%;
    color: #2a6986;
  }
  
  h3 {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
  }
  
  p {
    font-style: italic;
  }
  
  .card {
    border-radius: 10%;
    background-image: linear-gradient(to bottom, #ffffff, #949494);
    color: #000000;
    margin: 1%;
    flex-grow: 1; /* Allow cards to grow to fill available space */
    max-width: calc(50% - 4%); /* Set maximum width for each card */
    font-size: x-large;
  }
  
  .card li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Express {
    max-height: 800px;
  }
  
  @media screen and (max-width: 1200px) {
    main {
      width: 100%; /* Adjust width for smaller screens */
    }
  
    h1,
    h4 {
      font-size: 5vh;
    }
  }
  
  @media screen and (max-width: 750px) {
    main {
      width: 100%; /* Adjust width for smaller screens */
    }
  
    .card {
      min-width: 95%; /* Adjust minimum width for smaller screens */
    }
  
    h1,
    h4 {
      font-size: 3vh;
    }
  }
  